<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<<<<<<< HEAD
    <h1><%= page.header %></h1>
    <p><%= page.starttext %></p>

<%- include('../includes/end.ejs') %>
=======
    <section class="text">
        <h1><%= page.header %></h1>
        <p><%= page.starttext %></p>
    </section>
<%- include('../includes/end.ejs') %>
>>>>>>> origin/master
